@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Federant", serif;
}
body {
  background-color: #90afc5;
  /* color: rgb(27, 26, 26); */
}
